.register-kotak-luar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px;
}

.register-kotak {
    width: 500px;
    border: 1px solid black !important;
    padding: 20px;
    border-radius: 5px;
    background-color: #d2d5d8;
}

.register-input:focus, .register-button:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.register-error {
    color: #181616;
    font-weight: 700;
    font-size: 8pt;
}

.register-button {
    background-color: white;
}

.register-link {
    color: #181616;
    text-decoration: none;
}

.register-link:hover {
    color: #181616;
    text-decoration: underline;
}
