body {
    background-color: #93ff96;
}

.login-kotak-luar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login-kotak {
    border: 1px solid black !important;
    padding: 20px;
    border-radius: 5px;
    background-color: #d0ffb7;
}

.login-input {
    /* border-radius: 0 !important; */
    border: 1px solid black !important;
    background-color: #f2f5de;
}

.login-input:focus {
    background-color: #f2f5de;
}

.login-input:focus, .login-button-kotak:focus {
    box-shadow: none !important;
}

.login-button {
    border: 1px solid black;
    color: #181616;
    font-weight: 700;
    background-color: #f2f5de;
}

.login-button:hover {
    border: 1px solid black;
    color: #181616;
    background-color: #93ff96;
}

.login-link {
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}