.error-kotak {
    margin-top: 50px;
    margin-bottom: 135px;

}

.error-link {
    color: #181616;
    text-decoration: none;
}

.error-link:hover {
    color: #181616;
    text-decoration: underline;
}