.alert-recipe {
    z-index: 1 !important;
    position: absolute !important;
    top: 20 !important;
    width: 100%;
}

.detail-kotak {
    z-index: 0;
    /* border: 1px solid black; */
    padding: 50px 20px 50px 20px;
}

.detail-judul {
    font-weight: 700;
    font-size: 20pt;
}

.detail-row-1 {
    padding-top: 5px;
}

.detail-gambar {
    padding: 10px;
    border: 1px double black;
    width: 300px;
}

.detail-table-button {
    border: 1px solid black;
    color: #181616;
    /* background-color: white; */
}

.detail-table-button:focus {
    box-shadow: none !important;
}

.detail-bawah-table > p{
    margin: 0;
    font-size: 8pt;
}

.detail-detail {
    /* border: 1px solid black; */
    padding-top: 80px;
    height: 200px;
}

.detail-desc-title {
    top: -19px;
    background-color:white;
}

.detail-bahan {
    height: 50px;
}

.detail-note {
    font-size: 10pt;
}

.detail-checkbox:focus, .alert-button:focus {
    box-shadow: none !important;
}