.detail-kotak-luar {
    /* border: 1px solid black; */
    padding: 50px;
}

.detail-judul {
    font-weight: 700;
    font-size: 20pt;
}

.detail-kotak-dalam {
    /* border: 1px solid black; */
    padding: 15px;
    background-color: #d0ffb7;
}
/* .col {
    border: 1px solid black;
} */

/* .detail-kotak-kiri {
    border-right: 1px solid black;
} */

.detail-kotak-kiri-bawah {
    /* border-bottom: 1px solid black; */
    margin-top: 10px;
}

.detail-button {
    border: 1px solid black;
    color: #181616;
    font-weight: 700;
    background-color: #f2f5de;
}

.detail-button:focus {
    box-shadow: none !important;
}

.detail-button:hover {
    border: 1px solid black;
    color: #181616;
    background-color: #93ff96;
}

/* .detail-kotak-kanan {
    border-bottom: 1px solid black;
} */

.detail-desc {
    overflow: auto;
    height: 410px;
}

.detail-bahan, .detail-cara {
    margin-top: 10px;
}

.detail-mini-judul {
    font-weight: 600;
    font-size: 15pt;
}

.detail-note {
    font-size: 10pt;
}

.detail-checkbox:focus {
    box-shadow: none !important;
}