.login-kotak-luar {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.login-kotak {
    width: 500px;
    /* border: 1px solid black !important; */
    padding: 20px;
    border-radius: 5px;
    /* background-color: #d0ffb7; */
    background-color: #9b9b9b;
}

.login-alert {
    font-size: 10pt;
}

.login-input {
    border: 1px solid black !important;
    /* background-color: #f2f5de; */
}

/* .login-input:focus {
    background-color: #f2f5de;
} */

.login-input:focus, .login-button:focus, .alert > button:focus {
    box-shadow: none !important;
}

.login-error {
    color: red;
    font-weight: 700;
    font-size: 8pt;
}

.login-button {
    background-color: white;
    color: #181616;
}

.login-link {
    color: #181616;
    text-decoration: none;
}

.login-link:hover {
    color: #181616;
    text-decoration: underline;
}