body {
    /* background-color: #93ff96; */
    font-family: 'Quicksand', sans-serif, "FontAwesome" !important;
}

.navbar-luar {
    background-color: #9b9b9b;
}

.navbar-merek {
    font-weight: 700;
    color: #181616 !important;
}

.navbar-hamburger {
    border: 2px solid #181616 !important;
    box-shadow: none !important;
}

.navbar-menu {
    color: #181616 !important;
}

.navbar-menu:hover {
    text-decoration: underline;
}

.navbar-menu-aktif {
    font-weight: 700;
}

.alert-button:focus {
    box-shadow: none !important;
}

.alert-recipe {
    z-index: 1 !important;
    position: absolute !important;
    top: 20 !important;
    width: 100%;
}