body {
	background-color: #f6f6f7;
    font-family: 'Quicksand', sans-serif, "FontAwesome" !important;
}

.navbar-bg {
	background-color: #989ea4;
}

.navbar-merek {
    font-weight: 700;
    color: #181616 !important;
}

.navbar-menu {
    color: #181616 !important;
}

.navbar-menu:hover {
    text-decoration: underline;
}

.navbar-menu-aktif {
    font-weight: 700;
}

.alert-button:focus {
    box-shadow: none !important;
}

.alert-recipe {
    z-index: 1 !important;
    position: absolute !important;
    top: 20 !important;
    width: 100%;
}
