.detail-kotak {
    z-index: 0;
    padding: 50px 20px;
}

.detail-judul {
    font-weight: 700;
    font-size: 20pt;
}

.detail-gambar {
    padding: 10px;
    border: 1px double black;
    width: 80%;
}

.detail-table-button {
    background-color: white;
}

.detail-table-button:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.detail-bawah-table > p{
    margin: 0;
    font-size: 8pt;
}

.detail-desc-title {
    top: -19px;
    background-color:#f6f6f7;
}

.detail-bahan {
    height: 50px;
}

.detail-note {
    font-size: 10pt;
}

.detail-checkbox:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
