.home-jumbotron {
    background-image: url(../../img/home-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
}

.home-jumbotron-isi {
    padding: 12.5%;
    text-align: center;
}

.home-jumbotron-tulisan {
    font-size: 40pt;
    color: black;
    font-weight: 700;
}

.home-jumbotron-alert {
    font-weight: 700;
    font-size: 15pt;
}

.home-jumbotron-link, .home-today-link {
    color: #181616;
    text-decoration: none;
}

.home-jumbotron-link:hover, .home-today-link:hover {
    color: #181616;
    text-decoration: underline;
}

.home-jumbotron-input {
    border: 1px solid black !important;
    width: 400px;
}

.home-jumbotron-input:focus {
    box-shadow: none !important;
}

.home-jumbotron-button, .home-today-button {
    border: 1px solid black;
    color: #181616;
    background-color: white;
}

.home-jumbotron-button:focus, .home-today-button:focus {
    box-shadow: none !important;
}

.home-today {
    padding: 30px;
}

.home-today-desc {
    overflow: auto;
    height: 375px;
}