.search-input:focus, .search-button:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.search-button {
	background-color: white;
}

.search-no-content {
	margin-top: 120px;
	margin-bottom: 232.5px;
}
