.search-input:focus, .search-button:focus {
    box-shadow: none !important;
}

.search-button {
	background-color: white;
}

.search-no-content {
	margin-top: 120px;
	margin-bottom: 232.5px;
}

.search-card {
    width: 20rem;
	background-color: #f6f6f7;
}
