.profile-kotak {
    z-index: 0;
    padding: 50px 20px 50px 20px;
}

.profile-image {
    width: 300px;
    height: 350px;
}

.profile-button {
	background-color: white;
}

.profile-button:focus, .profile-input:focus {
    box-shadow: none !important;
}

.profile-card {
    width: 15.5rem;
	background-color: #f6f6f7;
}

.profile-card-tulisan {
    font-size: 10pt;
}

.profile-link {
    color: #181616;
    text-decoration: none;
}

.profile-link:hover {
    color: #181616;
    text-decoration: underline;
}

.profile-error {
	color: #181616;
    font-weight: 700;
    font-size: 8pt;
}
